<header>
    <div class="header-container">
      <img src="assets/aiplanet.png" alt="Logo" class="logo" />
     
    </div>
  </header>
<mat-card class="tab-card">
    <div class="hackathon-heading"> <button mat-raised-button  class="hackathon-heading-color">Starts on 17th Dec'22 9:00PM</button></div>
    <h3>Data Sprint 72-Butterfly Identification</h3>
    <h4 class="heading">Identify to which class butterfly belongs</h4>
    <button mat-raised-button color='white' class="easy-button">Easy</button>

    </mat-card>
    <mat-card>
        <div class="row-align">
            <div class="heading">Overview</div>
            <div class="edit-padding"> <button mat-raised-button (click)="GoToEditPage()" class="edit-button">Edit</button></div>
            <div class="delete-padding"> <button mat-raised-button  class="delete-color">Delete</button></div>
        
<!-- delete can be designed later -->
    </div>

    </mat-card>
    <div >
        <div class="para">Butterflies are the adult flying stage of certain insects belonging or group called Lepidoptera.
            The word "Lepidoptera" means "scaly wings" in Greek. This name perfectly suits the insects in this group becausetheir wings are covered
            with thosands of tiny scales.</div>
       
        <div class="para"> Butterflies are the adult flying stage of certain insects belonging or group called Lepidoptera.
        The word "Lepidoptera" means "scaly wings" in Greek. This name perfectly suits the insects in this group becausetheir wings are covered
        with thosands of tiny scales.</div>
       
       </div>


       <!-- we can dynamically use for loop we can put this same code when it is consumed. for now I have put static -->