<div class="columnalign">
    <div class="row-align">
    <mat-card class="size">
        <div  class="centered-content">
        <img src="assets/flight.png" alt="flight" class="image" />
        <div class="filter">
        <h3 >Active</h3>
        
       
    </div>
    <h4> Data sprint Airline</h4>
    <h4>Ended On</h4>
    <h4>16th May'22 9:00PM</h4>
    <button mat-raised-button class="submit-button">Participate Now</button>
   
    </div>

    </mat-card>
    </div>
</div>

<!-- can use a for loop for the data incoming to show the matcards, also can use angular flex box or bootstraps to minimise css -->

